body{
    background-color: pink;
    display: flex;
    justify-content: center;
}

div{
    
    text-align: center;
    position: absolute;
    width: 30%;
    height: 500px;
    background-color: aqua;
    border: 5px solid blue;
    border-style:groove;
    outline-style: solid;
    outline-color: red;
    outline-width: 6px;
}

h1 {
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
  }

  a{
    font-size: large;
  }

  a:hover {
  color: hotpink;
  }

  #user{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
    width: 25%;
    background-color: #9df9ef;
    border: 10px lightgreen;
    border-style:groove;
}
